<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List Client Services</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container text-center">
        <div><h1>List Client Services</h1></div><br/>
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Visit</th>
                    <th>Name</th>
                    <th>CommentName</th>
                    <th>CommentValue</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <th:block th:each="clientServ : ${listClientServs}">
                    <tr>
                        <td>[[${clientServ.id}]]</td>
                        <td>[[${clientServ.visit.desc}]]</td>
                        <td>[[${clientServ.desc}]]</td>
                        <td>[[${clientServ.comment.name}]]</td>
                        <td>[[${clientServ.comment.value}]]</td>
                        <td>
                            <a th:href="@{'/clientservs/edit/' + ${clientServ.id}}">Edit</a>
                            &nbsp;
                            <a th:href="@{'/clientservs/delete/' + ${clientServ.id}}">Delete</a>

                        </td>
                    </tr>
                    </th:block>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>