<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Visits</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div><h1><b>Tworzenie wizyty</b></h1></div>
    <div><h2><i>Ekran wyboru typu usługi</i></h2></div>
    <br/>
    <div>
        <span>Wyszukaj typ usługi </span><input id="txtSearch" type="text" name="txtSearch">
    </div>
    <div>
        <table id="serviceTypeTable" class="table table-bordered">
            <thead>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Domyślna Cena</th>
            <th>Akcja</th>
            </thead>
            <tbody>
            <th:block th:each="serviceType : ${serviceTypeSet}">
                <tr>
                    <td>[[${serviceType.name}]]</td>
                    <td>[[${serviceType.desc}]]</td>
                    <td>[[${serviceType.value}]]</td>
                    <td>
                        <a th:href="@{'/cs/new/' + ${serviceType.id} + '/' + ${visit.getId()}}">Wybierz</a>
                    </td>

                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" name="name" id="myData" class="form-control"/>

<form th:action="@{/serviceType/add}" th:object="${serviceType}" method="post"
      style="max-width: 300px; margin: 0 auto;">
    <input type="hidden" th:name="idVisit" th:value="${visit.getId()}"/>


    <div>
        <h2>Dodaj nowy typ usługi: </h2>

        <div class="form-group row">
            <label>Nazwa: </label>
            <div>
                <input type="text" th:field="*{name}" class="form-control" required/>
            </div>
        </div>

        <div class="form-group row">
            <label>Opis: </label>
            <div>
                <input type="text" th:field="*{desc}" class="form-control" required/>
            </div>
        </div>

        <div class="form-group row">
            <label>Domyślna cena: </label>
            <div>
                <input type="text" th:field="*{value}" class="form-control" required/>

            </div>
        </div>
    </div>
    <div>
        <div>
            <button type="submit" class="btn btn-primary">Stwórz typ usługi</button>
        </div>
    </div>
</form>
<form th:action="@{/cs/save}" method="post" style="max-width: 300px; margin: 0 auto;">
    <input type="hidden" th:name="idVisit" th:value="${visit.getId()}"/>
    <div>
        <button type="submit" name="back" value="Back" class="btn btn-primary">Wróć do poprzedniego ekranu</button>
    </div>

</form>


<script th:inline="javascript">
    var serviceTypeSet = /*[[${serviceTypeSet}]]*/ 'serviceTypeSet';
    var idVisit = [[${visit.getId()}]];
    // var myData = [[${idd}]];

    $('#txtSearch').on('keyup', function () {
        var value = $(this).val();

        var data = FilterFunction(value, serviceTypeSet);
        rebuildTable(data);
    });

    function FilterFunction(value, data) {
        var filteredData = [];
        for (var i = 0; i < data.length; i++) {
            value = value.toLowerCase();
            var name = data[i].name.toLowerCase();
            var desc = data[i].desc.toLowerCase();

            if (name.includes(value) || desc.includes(value)) {
                filteredData.push(data[i])
            }
        }
        return filteredData;
    }

    function rebuildTable(data) {
        var table = document.getElementById('serviceTypeTable')
        console.log(table)
        table.innerHTML = ''
        var titleRow = `<tr>
                                <td><b>Nazwa</b></td>
                                <td><b>Opis</b></td>
                                <td><b>Domyślna cena</b></td>
                                <td><b>Akcja</b></td>
                           </tr>`
        table.innerHTML += titleRow;
        for (var i = 0; i < data.length; i++) {
            var idd = data[i].id;

            var row = `<tr>
                                <td>${data[i].name}</td>
                                <td>${data[i].desc}</td>
                                <td>${data[i].value}</td>
                                <td>
                                    <a href="/cs/new/${idd}/${idVisit}">Choose</a>
                                </td>
                           </tr>`
            table.innerHTML += row
        }
        // prepare selected table - with searching
        prepareSelectedTable("#serviceTypeTable tr");
    }

    // prepare selected table - without searching
    prepareSelectedTable("#serviceTypeTable tr");


    function prepareSelectedTable(tableName) {
        var elem = document.querySelectorAll(tableName);
        for (var i = 0; i < elem.length; i++) {
            bindMe(elem[i]);
        }
    }

    function bindMe(elem) {
        elem.addEventListener("click", function (evt) {
            readValues(evt);
            var table = document.getElementById('serviceTypeTable')

        });
    }

    function readValues(evt) {
        var elem = evt.target.parentElement.innerText;
        console.log(elem);    //elem contains current tr element's data
        document.getElementById("myData").textContent = elem;
        console.log("tutaj" + name);

    }
</script>
</body>
</html>
