<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Visits</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style type="text/css">

        label {
            padding-top: 10px;
        }

        button {
            padding:10px;
            margin: 10px;
        }
        table th, table td {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <div><h1><b>Tworzenie wizyty</b></h1></div>
    <div><h2><i>Ekran wyboru klienta</i></h2></div>
    <br/>
    <div>
        <span>Wyszukaj klienta </span><input id="txtSearch" type="text" name="txtSearch">
    </div><div>
    <a th:href="@{'/main/cform/1'}">Wyczyść filtrowanie</a>
</div>
    <br>

    <div>
        <section class="panel">

        <table id="clientsTable" class="table table-striped table-advance table-hover">
            <thead>
            <th>Kod</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Notatka</th>
            <th>Data urodzenia</th>
            <th></th>
            </thead>
            <tbody>
            <th:block th:each="client : ${clients}">
                <tr>
                    <td>[[${client.code}]]</td>
                    <td>[[${client.name}]]</td>
                    <td>[[${client.lastname}]]</td>
                    <td>[[${client.comment}]]</td>
                    <td>[[${#dates.format(client.date, 'dd/MM/yyyy')}]]</td>
                    <td>
                        <a th:href="@{'/c/add/' + ${client.id}}">Choose</a>
                        <br>
                        <a th:href="@{'/client/edit/' + ${client.id}}">Edit</a>
                    </td>

                </tr>
            </th:block>
            </tbody>
        </table><footer id="footerClient" class="panel-footer">
            Łącznie [[${totalItems}]] : Strona [[${currentPage}]] of [[${totalPages}]]
            &nbsp; &nbsp; - &nbsp;
            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a th:href="@{'/main/cform/' +${i}}">[[${i}]]</a>
                &nbsp; &nbsp;
            </span>
        </footer>
        </section>
    </div>
</div>
<input type="hidden" name="name" id="myData" class="form-control"/>

<form th:action="@{/main/save/client}" th:object="${client}" method="post" style="max-width: 300px; margin: 0 auto;">

    <div>
        <h2>Dodaj nowego klienta: </h2>

        <div class="form-group row">
            <label>Imię: </label>
            <div>
                <input type="text" th:field="*{name}" class="form-control" required/>
            </div>
        </div>

        <div class="form-group row">
            <label>Nazwisko: </label>
            <div>
                <input type="text" th:field="*{lastname}" class="form-control"/>
            </div>
        </div>

        <div class="form-group row">
            <label>Notatka: </label>
            <div>
                <input type="text" th:field="*{comment}" class="form-control"/>
            </div>
        </div>

        <div align="right">
            <label for="clientDate">Data urodzenia:</label>
            <input type="date" th:field="*{date}" id="clientDate"/>
        </div>
        <div align="right">
            <label>Tel:</label>
            <input type="text" th:name="phoneValue"/>
            <input type="checkbox" th:name="phoneAgreement"/>
        </div>
        <div align="right">
            <label>Email:</label>
            <input type="text" th:name="emailValue"/>
            <input type="checkbox" th:name="emailAgreement"/>
        </div>
        <b></b>
        <div class="form-group row">
            <div th:align="center">
                <button type="submit" class="btn btn-primary">Stwórz clienta</button>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group row" th:align="center">
        <a class="h2" th:href="@{/}" >Wróć</a>
    </div>

</form>

<script th:inline="javascript">
    var clients = /*[[${clientsDTO}]]*/ 'clients';

    $('#txtSearch').on('keyup', function () {
        var value = $(this).val();

        var data = FilterFunction(value, clients);
        rebuildTable(data);
    });

    function FilterFunction(value, data) {
        var filteredData = [];
        for (var i = 0; i < data.length; i++) {
            value = value.toLowerCase();
            var name = data[i].name.toLowerCase();
            var desc = data[i].lastname.toLowerCase();

            if (name.includes(value) || desc.includes(value)) {
                filteredData.push(data[i])
            }
        }
        return filteredData;
    }

    function rebuildTable(data) {
        var table = document.getElementById('clientsTable')
        var footerClient = document.getElementById('footerClient')
        footerClient.innerText = ''
        table.innerHTML = ''
        var titleRow = `<tr>
                                <td><b>Kod</b></td>
                                <td><b>Imię</b></td>
                                <td><b>Nazwisko</b></td>
                                <td><b>Notatka</b></td>
                                <td><b>Action</b></td>
                           </tr>`
        var footerRow = `<tr>
                                        <a href="/main/cform/1">Wyczyść filtrowanie</a>
                           </tr>`
        table.innerHTML += titleRow;
        footerClient.innerHTML += footerRow;
        for (var i = 0; i < data.length; i++) {


            var row = `<tr>
                                <td>${data[i].code}</td>
                                <td>${data[i].name}</td>
                                <td>${data[i].lastname}</td>
                                <td>${data[i].comment}</td>
                                <td>
                                    <a href="/c/add/${data[i].id}">Choose</a>
<br>
                                    <a href="/client/edit/${data[i].id}">Choose</a>

                                </td>
                           </tr>`
            table.innerHTML += row
        }
        // prepare selected table - with searching
        prepareSelectedTable("#clientsTable tr");
    }

    // prepare selected table - without searching
    prepareSelectedTable("#clientsTable tr");


    function prepareSelectedTable(tableName) {
        var elem = document.querySelectorAll(tableName);
        for (var i = 0; i < elem.length; i++) {
            bindMe(elem[i]);
        }
    }

    function bindMe(elem) {
        elem.addEventListener("click", function (evt) {
            readValues(evt);
            var table = document.getElementById('clientsTable')

        });
    }

    function readValues(evt) {
        var elem = evt.target.parentElement.innerText;
        console.log(elem);    //elem contains current tr element's data
        document.getElementById("myData").textContent = elem;

    }

</script>
</body>
</html>