<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Visits</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <style type="text/css">
        label {
            padding-top: 10px;
        }


        button {
            padding: 10px;
            margin: 10px;
            width: 150px;
        }
    </style>
</head>
<body style="background-color: #e4f6fc">
<div class="container text-center">
    <form th:action="@{/main/save/client}" th:object="${client}" method="post"
          style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${client.getId()}"/>
        <input type="hidden" th:field="*{code}" th:value="${client.getCode()}"/>
        <input type="hidden" th:field="*{name}" th:value="${client.getName()}"/>
        <input type="hidden" th:field="*{lastname}" th:value="${client.getLastname()}"/>
        <input type="hidden" th:field="*{comment}" th:value="${client.getComment()}"/>
        <input type="hidden" th:field="*{date}" th:value="${client.getDate()}"/>
        <input type="hidden" th:field="*{active}" th:value="${client.getActive()}"/>

        <th:block th:unless="${client.getClientCard() == null}">
            <input type="hidden" th:field="*{clientCard}" th:value="${client.getClientCard().getId()}"/>
        </th:block>
        <input type="hidden" th:field="*{contactAddresses}" th:value="${client.getContactAddresses()}"/>
        <input type="hidden" th:name="phoneValue" th:value="${phoneValue}"/>
        <input type="hidden" th:name="emailValue" th:value="${emailValue}"/>
        <input type="hidden" th:name="phoneAgreement" th:value="${phoneAgreement}"/>
        <input type="hidden" th:name="emailAgreement" th:value="${emailAgreement}"/>
        <input type="hidden" th:name="isManagerView" th:value="${isManagerView}"/>
        <input type="hidden" th:name="isEditView" th:value="${isEditView}"/>
        <input type="hidden" th:name="isDeleteAction" th:value="${isDeleteAction}"/>

        <div><h1>Menedżer - Klienta</h1></div>
        <br/>
        <h3>Podsumowanie Klienta:</h3>
        <th:block th:if="${lastVisitDate != null}">
            <b></b><label>Data ostatniej wizyty:</b></label>
            <span th:text="${lastVisitDate}" th:remove="tag"></span>
        </th:block>

        <div th:align="left">
            <th:block th:if="${client.getCode() != null}">
                <div>
                    <label>Kod: </label>
                    <span th:text="${client.getCode()}" th:remove="tag"></span>
                </div>
            </th:block>
            <div>
                <label>Imię: </label>
                <span th:text="${client.getName()}" th:remove="tag"></span>
            </div>
            <div>
                <label>Nazwisko: </label>
                <span th:text="${client.getLastname()}" th:remove="tag"></span>
            </div>
            <div>
                <label>Notatka: </label>
                <span th:text="${client.getComment()}" th:remove="tag"></span>
            </div>
            <div>
                <th:block th:unless="${client.date == null}">
                    <label>Data urodzenia: </label>
                    <span th:text="${#dates.format(client.date, 'dd.MM.yyyy')}" th:remove="tag"></span>
                </th:block>
                <th:block th:if="${client.date == null}">
                    <label>Data urodzenia: brak danych</label>
                </th:block>
            </div>

            <div>
                <th:block th:unless="${phoneValue == '' && emailValue == ''}">
                    <label>Kontakt: </label>
                    <br>
                </th:block>
                <th:block th:if="${phoneValue == '' && emailValue == ''}">
                    <label>Kontakt: brak danych</label>
                    <br>
                </th:block>

                <th:block th:unless="${phoneValue == ''}">
                    <th:block th:if="${phoneAgreement == true}">
                        <span th:text="'telefon: ' + ${phoneValue} + ' - zgoda'" th:remove="tag"></span>
                    </th:block>
                    <th:block th:unless="${phoneAgreement == true}">
                        <span th:text="'telefon: ' + ${phoneValue} + ' - brak zgody!'" th:remove="tag"></span>
                    </th:block>
                    <br>
                </th:block>
                <th:block th:unless="${emailValue == ''}">

                    <th:block th:if="${emailAgreement == true}">
                        <span th:text="'e-mail: ' + ${emailValue} + ' - zgoda'" th:remove="tag"></span>
                    </th:block>
                    <th:block th:unless="${emailAgreement == true}">
                        <span th:text="'e-mail: ' + ${emailValue} + ' - brak zgody!'" th:remove="tag"></span>
                    </th:block>
                </th:block>

            </div>
        </div>
        <div>
            <th:block th:if="${isDeleteAction == true}">
                <br>
                <p th:text="${alert}" th:remove="tag"></p>
                <br>
            </th:block>

        </div>
        <th:block th:unless="${isDeleteAction == true}">
            <button type="submit" class="btn btn-success">Zatwierdź</button>
        </th:block>
        <th:block th:if="${isDeleteAction == true}">
            <button type="submit" name="delete" value="Delete" class="btn btn-danger">Usuń klienta</button>
        </th:block>
        <button type="submit" name="cancel" value="Cancel" class="btn btn-warning">Anuluj</button>
    </form>
</div>
</body>
</html>