<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Client Services</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <style type="text/css">
        button {
            padding: 10px;
            margin: 10px;
            width: 150px;
        }
    </style>
</head>
<body style="background-color: #e4f6fc">
<div class="container text-center">
    <div><h1>Usługa</h1></div>
    <br/>

    <form th:action="@{/cs/save}" th:object="${clientServ}" method="post" style="max-width: 300px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${clientServ.id}"/>

        <div>
            <div class="form-group row">
                <div>
                    <span>Nazwa usługi:</span>
                    <input type="text" name="title" th:value="${clientServ.getTitle()}" class="form-control"/>
                    <span>Opis usługi:</span>
                    <input type="text" name="desc" th:value="${clientServ.getDesc()}" class="form-control"/>
                    <span>Cena usługi:</span>
                    <input type="text" name="price" th:value="${clientServ.getPrice()}" class="form-control"/>
                    <span>Wysokość promocji:</span>
                    <input type="text" name="promotion" th:value="${clientServ.getPromotion()}" class="form-control"/>
                </div>
                <label>Typ usługi:</label>
                <select th:field="*{serviceType}">
                    <option th:each="serviceType : ${serviceTypeList}" th:value="${serviceType.id}"
                            th:text="${serviceType.niceString}"/>
                </select>

            </div>
        </div>
        <div>
            <div>
                <button type="submit" name="update" value="Update" class="btn btn-large btn-success">Zapisz</button>
            </div>
        </div>
        <div>
            <div>
                <button type="submit" name="return" value="Return" class="btn btn-large btn-warning">Powrót bez zapisu
                </button>
            </div>
        </div>
        <br>
        <th:block th:if="${isDeleteAction == 'true'}">
            <div>
                <div>
                    <button type="submit" name="delete" value="Delete" class="btn btn-large btn-danger">Usuń</button>
                </div>
            </div>
        </th:block>


    </form>
</div>
</body>
</html>