<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Client Services</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <style type="text/css">

        label {
            padding-top: 10px;
        }

        button {
            padding: 10px;
            margin: 10px;
            width: 200px;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <div><h1><b>Tworzenie wizyty</b></h1></div>
    <div><h2><i>Ekran główny usługi</i></h2></div>

    <form th:action="@{/cs/save}" th:object="${clientServ}" method="post" style="max-width: 300px; margin: 0 auto;">
        <input type="hidden" th:name="visitId" th:value="${visit.id}"/>
        <input type="hidden" th:name="serviceTypeId" th:value="${serviceType.id}"/>


        <div>
            <div class="form-group row">
                <label>Nazwa usługi: </label>
                <div>
                    <input type="text" th:field="*{title}" placeholder="Client Service Title" class="form-control"/>
                </div>
                <div>
                    <span>Domyślna nazwa: </span>
                    <span th:text="${serviceType.name}" th:remove="tag"></span>
                </div>
                <br>
                <label>Opis Usługi:</label>
                <div>
                    <textarea th:field="*{desc}" placeholder="Client Service Description" class="form-control"
                              required/>
                </div>
                <div>
                    <br>
                    <div>
                        <label>Cena usługi: </label>
                        <input type="text" th:field="*{price}" placeholder="Price of the Service" class="form-control"/>
                    </div>
                    <div>
                        <span>Domyślna cena: </span>
                        <span th:text="${serviceType.value}" th:remove="tag"></span>
                    </div>
                </div>

            </div>
            <div>
                <label>Wysokość promocji [%] - OBECNIE:</label>
                <span th:text="${clientServ.getPromotion()}" th:remove="tag"></span>

                <input type="number" th:field="*{promotion}" placeholder="Price of the Service" class="form-control"
                       required/>

                <button type="submit" name="addPromotionToCS" value="AddPromotionToCS" class="btn btn-primary">Aktywuj
                    promocje
                    dla usługi
                </button>
            </div>
        </div>
        <br>
        <div>
            <div>
                <button type="submit" class="btn btn-success">Dodaj usługę do wizyty</button>
            </div>
        </div>


    </form>
    <form th:action="@{/cs/save}" method="post" style="max-width: 300px; margin: 0 auto;">
        <input type="hidden" th:name="idVisit" th:value="${visit.id}"/>
        <div>
            <button type="submit" name="back" value="Back" class="btn btn-warning">Cofnij</button>
        </div>

    </form>
</div>
</body>
</html>