<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Screen</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Welcome - Main Screen</h1></div>
    <br/>
    <div class="p-2">
        <a class="h2" th:href="@{/main/cform}">Obsługa Wizyty</a>
    </div>
    <br/>
    <div class="p-2">
        <a class="h2" th:href="@{/reservations}">Rezerwacje</a>
    </div>
    <br/>
    <div class="p-2">
        <a class="h2" th:href="@{/serviceTypeManager/p}">Menedżer Typu Usługi</a>
    </div>
    <br/>
    <div class="p-2">
        <a class="h2" th:href="@{/clientmanager}">Menedżer Klienta</a>
    </div>
</div>
</body>
</html>