<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create Client Services</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container text-center">


        <form th:action="@{/newcs/save}" th:object="${clientServ}" method="post" style="max-width: 300px; margin: 0 auto;">
            <div>
                <div class="form-group row">
                    <div>
                    <label>Visit: </label>
                    </div>
                    <div>
                        <select th:field="*{visit}" class="form-control">

                            <option th:text="${visit.desc}" th:value="${visit.id}"/>

                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div>
                        <label>Item: </label>
                    </div>
                    <div>
                        <span th:text="${clientServ.comment.item.niceString()}"/>
                    </div>
                </div>
            <div>
            <div>
                <div class="form-group row">
                    <label>Client Service desc: </label>
                    <div>
                        <input type="text" th:field="*{desc}" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label>Comment: </label>
                    <div>
                        <input type="text" th:field="*{comment.name}" placeholder="Comment Name" class="form-control"/>
                    </div>
                    <div>
                        <input type="text" th:field="*{comment.desc}" placeholder="Comment Desc" class="form-control"/>
                    </div>
                    <div>
                        <input type="text" th:field="*{comment.value}" placeholder="Comment Value" class="form-control"/>
                    </div>
                </div>
            </div>
                <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>
</html>