<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <style type="text/css">
        span {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<div align="center">
    <h2>Registration Succeeded!</h2>
    <span>Client Card:</span><span th:text="${visit.clientCard.client.getFullName()}"></span><br/>
    <span>Desc:</span><span th:text="${visit.desc}"></span><br/>


</div>
<div align="center">
    <h1>Register ClientServ</h1>
    <a href="/registerClientServ">Click here to register ClientServ</a>
</div>
</body>
</html>