<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Visits</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <style type="text/css">
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 300px;
        }

        label {
            padding-top: 10px;
        }

        button {
            margin: 20px;
            width: 150px;
        }
    </style>
</head>
<body style="background-color: #e4f6fc">
<div class="container text-center">
    <div><h1>Menedżer - Typ Usługi</h1></div>
    <br/>
    <table th:border="0" th:align="center" th:width="800px">
        <tr>
            <form th:action="@{/saveSelectedServiceTypeManager}" th:object="${serviceType}" method="post"
                  style="max-width: 600px; margin: 0 auto;">
                <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>
                <input type="hidden" th:name="idStatus" th:value="${idStatus}"/>
                <td>
                    <div>
                        <div>
                            <label>Status: </label>
                            <th:block
                                    th:if="${serviceType.getStatus() != null && serviceType.getStatus().getId() == 7}">
                                <span>Anulowany</span>
                            </th:block>
                            <th:block
                                    th:if="${serviceType.getStatus() != null && serviceType.getStatus().getId() == 6}">
                                <span>Aktywny</span>
                            </th:block>
                            <th:block
                                    th:if="${serviceType.getStatus() != null && serviceType.getStatus().getId() == 8}">
                                <span>Nieaktywny</span>
                            </th:block>
                        </div>
                        <div>
                            <label>Domyślna nazwa usługi: </label>
                            <div>
                                <input type="text" th:field="*{name}" class="form-control" required/>
                            </div>
                        </div>

                        <div>
                            <label>Domyślny opis usługi: </label>
                            <div>
                                <input type="text" th:field="*{desc}" class="form-control" required/>
                            </div>
                        </div>

                        <div>
                            <label>Domyślna cena usługi: </label>
                            <div>
                                <input type="text" th:field="*{value}" class="form-control" required/>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <button type="submit" class="btn btn-large btn-success">Zapisz</button>
                        </div>
                    </div>
                    <br>


                </td>
                <td>
                    <h3>Ustaw status na:</h3>
                    <!--STATUS - Active-->
                    <div>
                        <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>
                        <input type="hidden" th:name="isEditView" th:value="${isEditView}"/>
                        <button type="submit" name="activeServiceTypeManager" value="ActiveServiceTypeManager"
                                class="btn btn-primary">AKTYWNY
                        </button>
                    </div>
                    <!--STATUS - Inactive-->
                    <div>
                        <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>
                        <input type="hidden" th:name="isEditView" th:value="${isEditView}"/>
                        <button type="submit" name="inactiveServiceTypeManager" value="InactiveServiceTypeManager"
                                class="btn btn-warning">NIEAKTYWNY
                        </button>
                    </div>

                    <!--STATUS - Cancel-->
                    <div>
                        <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>
                        <input type="hidden" th:name="isEditView" th:value="${isEditView}"/>
                        <button type="submit" name="cancelServiceTypeManager" value="CancelServiceTypeManager"
                                class="btn btn-danger">ANULOWANY
                        </button>
                    </div>
                </td>
            </form>
        </tr>
    </table>

</div>

</div>
</body>
</html>