<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Visits</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <style type="text/css">
        /*table {*/
        /*    margin: 15px;*/
        /*    text-align: left;*/
        /*}*/

        /*table th, table td {*/
        /*    padding: 10px;*/
        /*}*/
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 300px;
        }

        label {
            padding-top: 10px;
        }

        button {
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <div><h1>Menedżer - Lista Typów Usług</h1></div>
    <br/>
    <div>
        <span>Wyszukaj Typ Usługi </span><input id="txtSearch" type="text" name="txtSearch">
    </div>
    <div>
        <table id="serviceTypeTable" class="table table-bordered">
            <thead>
            <th>Name</th>
            <th>Desc</th>
            <th>Value</th>
            <td><b>Action</b></td>

            </thead>
            <tbody>
            <th:block th:each="serviceType : ${serviceTypeSet}">
                <tr>
                    <td>[[${serviceType.name}]]</td>
                    <td>[[${serviceType.desc}]]</td>
                    <td>[[${serviceType.value}]]</td>
                    <td>
                        <a th:href="@{'/serviceTypeManager/' + ${serviceType.id}}">Choose</a>
                    </td>

                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<input type="hidden" name="name" id="myData" class="form-control"/>

<form th:action="@{/serviceTypeManager}" th:object="${serviceType}" method="post"
      style="max-width: 600px; margin: 0 auto;">
    <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>


    <div>
        <h2>Stwórz nowy Typ Usługi: </h2>

        <div>
            <label>Domyślna nazwa usługi: </label>
            <div>
                <input type="text" th:field="*{name}" class="form-control" required/>
            </div>
        </div>

        <div>
            <label>Domyślny opis usługi: </label>
            <div>
                <input type="text" th:field="*{desc}" class="form-control" required/>
            </div>
        </div>

        <div>
            <label>Domyślna cena usługi: </label>
            <div>
                <input type="text" th:field="*{value}" class="form-control" required/>

            </div>
        </div>
    </div>
    <div>
        <div>
            <button type="submit" name="add" value="Add" class="btn btn-primary">Dodaj Nowy Typ Usługi</button>

<!--            <button type="submit" class="btn btn-primary">Dodaj Nowy Typ Usługi</button>-->
        </div>
    </div>
    <br>
    <div class="p-2">
        <a class="h2" th:href="@{/}">Wróć</a>
    </div>
</form>


<script th:inline="javascript">
    var serviceType = /*[[${serviceTypeSet}]]*/ 'serviceTypeSet';

    $('#txtSearch').on('keyup', function () {
        var value = $(this).val();

        var data = FilterFunction(value, serviceType);
        rebuildTable(data);
    });

    function FilterFunction(value, data) {
        var filteredData = [];
        for (var i = 0; i < data.length; i++) {
            value = value.toLowerCase();
            var description = data[i].desc.toLowerCase();
            var name = data[i].name.toLowerCase();

            if (description.includes(value) || name.includes(value)) {
                filteredData.push(data[i])
            }
        }
        return filteredData;
    }

    function rebuildTable(data) {
        var table = document.getElementById('serviceTypeTable')
        table.innerHTML = ''
        var titleRow = `<tr>
                                <td><b>Name</b></td>
                                <td><b>Desc</b></td>
                                <td><b>Value</b></td>
                                <td><b>Action</b></td>
                           </tr>`
        table.innerHTML += titleRow;
        for (var i = 0; i < data.length; i++) {


            var row = `<tr>
                                <td>${data[i].name}</td>
                                <td>${data[i].desc}</td>
                                <td>${data[i].value}</td>
                                <td>
                                    <a href="/serviceTypeManager/${data[i].id}">Choose</a>
                                </td>
                           </tr>`
            table.innerHTML += row
        }
        // prepare selected table - with searching
        prepareSelectedTable("#serviceTypeTable tr");
    }

    // prepare selected table - without searching
    prepareSelectedTable("#serviceTypeTable tr");


    function prepareSelectedTable(tableName) {
        var elem = document.querySelectorAll(tableName);
        for (var i = 0; i < elem.length; i++) {
            bindMe(elem[i]);
        }
    }

    function bindMe(elem) {
        elem.addEventListener("click", function (evt) {
            readValues(evt);
            var table = document.getElementById('serviceTypeTable')

        });
    }

    function readValues(evt) {
        var elem = evt.target.parentElement.innerText;
        document.getElementById("myData").textContent = elem;

    }

</script>
</body>
</html>
