<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Visits</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <style type="text/css">
        /*table {*/
        /*    !*display: inline-block;*!*/
        /*    !*width: 200px;*!*/
        /*    margin: 15px;*/
        /*    text-align: left;*/
        /*}*/

        /*table th, table td {*/
        /*    padding: 10px;*/
        /*}*/

        label {
            padding-top: 10px;
        }

        /*input[type=text], input[type=password], select {*/
        /*    display: inline-block;*/
        /*    width: 200px;*/

        /*input[type=checkbox] {*/
        /*    margin-right: 190px;*/
        /*}*/
        button {
            padding: 10px;
            margin: 10px;
            width: 150px;
        }
    </style>
</head>
<body style="background-color: #e4f6fc">
<div class="container text-center">
    <form th:action="@{/summaryServiceTypeManager}" th:object="${serviceType}" method="post"
          style="max-width: 1100px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>
        <input type="hidden" th:name="idVisit" th:value="${idVisit}"/>


        <div><h1>Menedżer - Typ usługi</h1></div>
        <br/>
        <h3>Podsumowanie typu usługi:</h3>
        <div>
            <label>Status: </label>
            <th:block th:if="${serviceType.getStatus() != null && serviceType.getStatus().getId() == 7}">
                <span>Anulowany</span>
            </th:block>
            <th:block th:if="${serviceType.getStatus() != null && serviceType.getStatus().getId() == 6}">
                <span>Aktywny</span>
            </th:block>
            <th:block th:if="${serviceType.getStatus() != null && serviceType.getStatus().getId() == 8}">
                <span>Nieaktywny</span>
            </th:block>
        </div>
        <div>
            <label>Domyślna nazwa usługi: </label>
            <span th:text="${serviceType.getName()}" th:remove="tag"></span>
        </div>
        <div>
            <label>Domyślny opis usługi: </label>
            <span th:text="${serviceType.getDesc()}" th:remove="tag"></span>
        </div>
        <div>
            <label>Domyślna cena usługi: </label>
            <span th:text="${serviceType.getValue()}" th:remove="tag"></span>
        </div>
    </form>

    <form th:action="@{/saveServiceTypeManager}" th:object="${serviceType}" method="get"
          style="max-width: 1100px; margin: 0 auto;">
        <input type="hidden" th:name="idVisit" th:value="${idVisit}"/>

        <button type="submit" class="btn btn-large btn-success">Akceptuj
        </button>
    </form>
    <th:block th:unless="${isEditView == null || isEditView == ''}">
        <form th:action="@{/serviceTypeManager/__${serviceType.getId()}__}" th:object="${serviceType}" method="get"
              style="max-width: 1100px; margin: 0 auto;">
            <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>
            <input type="hidden" th:name="idVisit" th:value="${idVisit}"/>
            <button type="submit" class="btn btn-primary">Edytuj
            </button>
        </form>
    </th:block>
    <th:block th:if="${isEditView == null || isEditView == ''}">
        <form th:action="@{/deleteServiceTypeManager}" th:object="${serviceType}" method="get"
              style="max-width: 1100px; margin: 0 auto;">
            <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>
            <input type="hidden" th:name="idVisit" th:value="${idVisit}"/>
            <button type="submit" class="btn btn-warning">Anuluj bez zapisu
            </button>
        </form>
        <br>
        <h3>Ustaw status na:</h3>

        <!--STATUS - Active-->
        <form th:action="@{/saveSelectedServiceTypeManager}" th:object="${serviceType}" method="post"
              style="max-width: 1100px; margin: 0 auto;">
            <input type="hidden" th:field="*{id}" th:value="${serviceType.getId()}"/>
            <input type="hidden" th:field="*{desc}" th:value="${serviceType.getDesc()}"/>
            <input type="hidden" th:field="*{name}" th:value="${serviceType.getName()}"/>
            <input type="hidden" th:field="*{value}" th:value="${serviceType.getValue()}"/>
            <input type="hidden" th:name="idVisit" th:value="${idVisit}"/>
            <button type="submit" name="activeServiceTypeManager" value="ActiveServiceTypeManager"
                    class="btn btn-primary">AKTYWNY
            </button>

            <!--STATUS - Inactive-->
            <button type="submit" name="inactiveServiceTypeManager" value="InactiveServiceTypeManager"
                    class="btn btn-warning">NIEAKTYWNY
            </button>

            <!--STATUS - Cancel-->
            <button type="submit" name="cancelServiceTypeManager" value="CancelServiceTypeManager"
                    class="btn btn-danger">ANULOWANY
            </button>
        </form>
    </th:block>
</div>
</body>
</html>