<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Visit</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>Create New Visit</h1></div>
    <br/>
    <form th:action="@{/visits/save}" th:object="${visit}" method="post" style="max-width: 300px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}" th:value="${visit.id}"/>
<!--        <input type="hidden" th:field="*{clientCard}" th:value="${clientCard}"/>-->
<!--        <input type="hidden" th:name="idClient" th:value="${idClient}" />-->

        <!--            <input type="hidden" th:name="clientServSet" th:value="${clientServSet}" />-->

        <div>
            <div class="form-group row">
                <div>
                    <label>Tytuł wizyty</label>
                    <input type="text" placeholder="Visit Title" th:field="*{title}" class="form-control" required/>
                </div>
                <div>
                    <label>Opis wizyty</label>
                    <textarea rows="10" placeholder="Visit Description" th:field="*{desc}" class="form-control"
                                  required/>
                </div>
            </div>

            <th:block th:unless="${visit.getClientServSet().size() == 0}">
                <div class="form-group row">
                    <label>Services: </label>

                    <table id="itemsTable" class="table table-bordered">
                        <thead>
                        <th>ID</th>
                        <th>ITEM</th>
                        <th>TITLE</th>
                        <th>DESCRIPTION</th>
                        <th>PRICE</th>
                        </thead>
                        <tbody>
                        <th:block th:each="clientServ : ${clientServSet}">
                            <tr>
                                <td>[[${clientServ.id}]]</td>
                                <td>[[${clientServ.comment.item.id}]]</td>
                                <td>[[${clientServ.title}]]</td>
                                <td>[[${clientServ.desc}]]</td>
                                <td>[[${clientServ.comment.value}]]</td>

                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </th:block>

        </div>
        <div>
            <th:block th:unless="${visit.getClientServSet().size() == 0}">
                <button type="submit" name="submit" value="Submit" class="btn btn-primary">Save</button>
            </th:block>

            <button type="submit" name="addItem" value="AddItem" class="btn btn-primary">Add New Services to Visit</button>

        </div>
    </form>
</div>
</body>
</html>