<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Visits</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div><h1>List Visits</h1></div>
    <br/>
    <div>
        <table class="table table-bordered">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>ClientServs</th>
            <th></th>
            </thead>
            <tbody>
            <th:block th:each="visit : ${listVisits}">
                <tr>
                    <td>[[${visit.id}]]</td>
                    <td>[[${visit.desc}]]</td>
                    <td>[[${visit.clientServSet}]]</td>

                    <td>
                        <a th:href="@{'/visits/edit/' + ${visit.id}}">Edit</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>